
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    margin: 0;
    height: 100vh;
    background: #f8f9fa;

    display: flex;
    justify-content: center;   
    align-items: center;      

    direction: rtl;
}


.container {
    width: 100%;
    max-width: 450px;
}


.card {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

    text-align: center;
}


.logo {
    width: 75px;
    margin-bottom: 15px;

    direction: ltr;
}


h1 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #202124;
}


.google-text {
    font-size: 14px;
    color: #5f6368;
    line-height: 1.6;
    margin-bottom: 20px;
}



.google-name {
    direction: ltr;
    unicode-bidi: isolate;
    font-weight: 500;
    color: #2c2c2e;
}

.link {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    color: #1a73e8;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
.forgot-link {
    display: block;
    text-align: right;
    margin-top: 10px;
}



input {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #1a73e8;
}


.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


button {
    background: #1a73e8;
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #1558c0;
}
